<!DOCTYPE html>
<html lang="en">
<head>
    <title>MAAV Competition Web</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>

        Click the button below to Ping the other drones!
        <form action="{{ url_for('ping_drones') }}?target={{ request.path }}" method="post" enctype="multipart/form-data">
            <input type="submit" name="submit" value="Ping">
        </form>

        Click the button below to start the voice recording!
        <br>
        <button onclick="startRecording()">Start</button>

        <script src="/static/recorder.js"></script>

        <br>

        Click the button below to stop the voice recording!
        <br>
        <button onclick="stopRecording()">Stop</button>

        <br>

        Click the button below to Analyze the message recorded!
        <form action="{{ url_for('analyze_recording') }}?target={{ request.path }}" method="post" enctype="multipart/form-data">
            <input type="submit" name="submit" value="Analyze">
        </form>
    </div>
</body>
</html>